<style>
  .striped-list>li:nth-of-type(odd) {
    background-color: #f0eded;
  }

  .opacity-1 {
    opacity: 1;
  }

  .bg-light-red {
    background-color: red;
  }

  .bg-light-gray {
    background-color: silver;

  }

</style>

<div class="container">
  <div class="row bg-light-red p-5">
    <h2 class="col-12 text-center text-light">My To Do List</h2>
    <div class="input-group col-12 px-0">
      <input [(ngModel)]="cacheTitle" (keyup.enter)="addToDo()" type="text" class="form-control border-0 rounded-0 w-75"
        placeholder="Title...">
      <div class="input-group-append w-25">
        <button (click)="addToDo()" class="btn btn-secondary border-0 rounded-0 w-100 text-secondary bg-light-gray"
          type="button">
          <span class="text-dark">Add</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="striped-list list-group col-12 p-0 rounded-0">
      <li *ngFor="let item of toDoList;let index=index;" [ngClass]="{'bg-secondary': item.done}"
        class="list-group-item pl-0 pr-4 d-flex">
        <div class="d-flex">
          <div *ngIf="item.done">
            <fa-icon [icon]="faCheck" class="px-3 text-light"></fa-icon>
            <del class="text-white">{{ item.title }}</del>
          </div>
          <span *ngIf="!item.done" class="pl-5">{{ item.title }}</span>
        </div>
        <button (click)="removeToDo(index)" [ngClass]="{'text-white': item.done, 'opacity-1': item.done}" type="button" class="close ml-auto">
          <fa-icon [icon]="faTimes" class=""></fa-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
